body {
  font-family: "Roboto", "Raleway" sans-serif;
  font-size: 16;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.nav .accent-web {
  font-size: 18;
  font-weight: 700;
  line-height: 1.667;
  color: #4d5ae5;
}

.nav .accent-studio {
  font-size: 18;
  font-weight: 700;
  line-height: 1.667;
  color: #2e2f42;
}

.nav .link {
  color: #2e2f42;
}

.page-address .link {
  font-weight: 400;
  font-style: normal;
  color: #434455;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #4d5ae5;
}

.title {
  background-color: #2e2f42;
}

.page-title {
  color: #ffffff;
  font-size: 56;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
}

.button:hover {
  background-color: #404bbf;
}
